@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
body{
    font-family: 'Rubik Burned', system-ui;
}
h1{
    text-decoration: wavy;
    color: blueviolet;
    text-align: center;
    text-decoration: auto;
    text-transform: capitalize;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
h3{
    color: violet;
}
.special{
    color: brown;
    font-weight: bold;
}